gardenbro.txt
[{"id":"26eb4907.84dc96","type":"ui_numeric","z":"6e472e1f.e49bf","name":"","label":"Max temp - Day","tooltip":"Heater turns off","group":"55104359.ae8f1c","order":4,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}&degF","min":0,"max":"100","step":1,"x":320,"y":60,"wires":[["866ae99e.06eac8"]]},{"id":"866ae99e.06eac8","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"maxtemp_day","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":60,"wires":[[]]},{"id":"98709a72.4a6478","type":"ui_numeric","z":"6e472e1f.e49bf","name":"","label":"Min Temp - Day","tooltip":"Heater turns on","group":"55104359.ae8f1c","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}&degF","min":0,"max":"100","step":1,"x":320,"y":120,"wires":[["1b3ede0b.2e06b2"]]},{"id":"1b3ede0b.2e06b2","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"mintemp_day","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":120,"wires":[[]]},{"id":"e151a0c4.5df89","type":"ui_numeric","z":"6e472e1f.e49bf","name":"","label":"Max RH - Night","tooltip":"Dehumidifier turns on","group":"ae012c4c.e138b","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}%","min":0,"max":"100","step":1,"x":320,"y":420,"wires":[["cb234062.cd64"]]},{"id":"cb234062.cd64","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"maxrh_night","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":420,"wires":[["99a791f7.d7cb3"]]},{"id":"6d9905a.4ff24fc","type":"ui_numeric","z":"6e472e1f.e49bf","name":"","label":"Min RH - Night","tooltip":"Dehumidifier turns off","group":"ae012c4c.e138b","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}%","min":0,"max":"100","step":1,"x":320,"y":480,"wires":[["642b1354.3f200c"]]},{"id":"642b1354.3f200c","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"minrh_night","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":480,"wires":[[]]},{"id":"6340aca.873d354","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"rh_high_night","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":420,"wires":[[]]},{"id":"99a791f7.d7cb3","type":"change","z":"6e472e1f.e49bf","name":"Deadband offset 1%","rules":[{"t":"set","p":"payload","pt":"msg","to":"(payload+1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":420,"wires":[["6340aca.873d354"]]},{"id":"279c5370.f772ec","type":"ui_numeric","z":"6e472e1f.e49bf","name":"","label":"Max Temp - Night","tooltip":"Heater turns off","group":"55104359.ae8f1c","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}&degF","min":0,"max":"100","step":1,"x":330,"y":180,"wires":[["497ecdef.412224"]]},{"id":"497ecdef.412224","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"maxtemp_night","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":180,"wires":[[]]},{"id":"134fd8fc.479227","type":"ui_numeric","z":"6e472e1f.e49bf","name":"","label":"Min Temp - Night","tooltip":"Heater turns on","group":"55104359.ae8f1c","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}&degF","min":0,"max":"100","step":1,"x":330,"y":240,"wires":[["5f39e00a.b2762"]]},{"id":"5f39e00a.b2762","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"mintemp_night","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":240,"wires":[[]]},{"id":"11ffbcbc.014503","type":"ui_numeric","z":"6e472e1f.e49bf","name":"","label":"Max RH - Day","tooltip":"Dehumidifier turns on","group":"ae012c4c.e138b","order":4,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}%","min":0,"max":"100","step":1,"x":320,"y":300,"wires":[["94c283b4.752e4"]]},{"id":"94c283b4.752e4","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"maxrh_day","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":300,"wires":[["914001f6.d9c5f"]]},{"id":"f4c65ae4.018848","type":"ui_numeric","z":"6e472e1f.e49bf","name":"","label":"Min RH - Day","tooltip":"Dehumidifier turns off","group":"ae012c4c.e138b","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}%","min":0,"max":"100","step":1,"x":320,"y":360,"wires":[["f7a0a72f.50fbd8"]]},{"id":"f7a0a72f.50fbd8","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"minrh_day","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":360,"wires":[[]]},{"id":"9dd5113d.ca05e","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"rh_high_day","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":300,"wires":[[]]},{"id":"914001f6.d9c5f","type":"change","z":"6e472e1f.e49bf","name":"Deadband offset 1%","rules":[{"t":"set","p":"payload","pt":"msg","to":"(payload+1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":300,"wires":[["9dd5113d.ca05e"]]},{"id":"38b61069.0d578","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1140,"wires":[["107cb0a7.269a5f"]]},{"id":"78629049.080cd","type":"function","z":"6e472e1f.e49bf","name":"calc AVPD","func":"var temp = Number(msg.payload-1.2);\nvar RH = Number(msg.humidity-8);\nvar svd = 610.78*(Math.pow(2.71828, (temp/(238.3+temp)*17.2694)));\nvar vpd = (1-(RH/100))*svd/1000;\nvpd = Number(vpd.toFixed(2))\nmsg.payload = vpd;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1140,"wires":[["70031f03.e9c6"]]},{"id":"89cd132a.ec5c2","type":"ui_gauge","z":"6e472e1f.e49bf","name":"Leaf VPD","group":"9808fb7a.a5a668","order":1,"width":0,"height":0,"gtype":"gage","title":"Leaf VPD","label":"kPa","format":"{{value}}","min":0,"max":"2","colors":["#0000ff","#80ff80","#ff8040"],"seg1":"","seg2":"","x":740,"y":1080,"wires":[]},{"id":"70031f03.e9c6","type":"smooth","z":"6e472e1f.e49bf","name":"","property":"payload","action":"mean","count":"30","round":"2","mult":"single","reduce":false,"x":740,"y":1140,"wires":[["269d57bf.7fb178"]]},{"id":"269d57bf.7fb178","type":"ui_chart","z":"6e472e1f.e49bf","name":"","group":"9808fb7a.a5a668","order":2,"width":0,"height":0,"label":"AVPD (kPa)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"48","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":910,"y":1140,"wires":[[]]},{"id":"41ad742f.24822c","type":"ui_gauge","z":"6e472e1f.e49bf","name":"","group":"7deea9a6.d96288","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"째F","format":"{{value}}째F","min":"50","max":"100","colors":["#0080ff","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":720,"wires":[]},{"id":"613ec80c.bc7158","type":"ui_chart","z":"6e472e1f.e49bf","name":"","group":"7deea9a6.d96288","order":2,"width":"0","height":"0","label":"Temperature (째F)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"48","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":910,"y":780,"wires":[[]]},{"id":"539264c.4fdb49c","type":"function","z":"6e472e1f.e49bf","name":"temperature (째F)","func":"msg.payload = (msg.payload*1.8+30).toFixed(1);\nmsg.topic = \"inside_temp\";\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1040,"wires":[["863440d7.9dab5","41ad742f.24822c","8976564a.265738","663ad551.af5b0c","cf203c1c.bf0e9"]]},{"id":"895bfbdb.2ef338","type":"switch","z":"6e472e1f.e49bf","name":"heater ctrl day","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"maxtemp_day","vt":"global"},{"t":"lte","v":"mintemp_day","vt":"global"}],"checkall":"false","repair":false,"outputs":2,"x":1360,"y":540,"wires":[["35e77284.a13f6e"],["49525f18.9ad52"]]},{"id":"7d8d69e4.625758","type":"function","z":"6e472e1f.e49bf","name":"humidity","func":"msg.payload = Number(((msg.humidity)-8).toFixed(1));\nmsg.topic = \"inside_rh\";\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1240,"wires":[["1d7503d4.2a622c","bad5b8ba.801d48","8ee66af6.eb2c68","2146645e.b5964c","91f649b8.d95708","bad5cd06.84821"]]},{"id":"1d7503d4.2a622c","type":"ui_gauge","z":"6e472e1f.e49bf","name":"","group":"89978d32.271a5","order":1,"width":0,"height":0,"gtype":"gage","title":"Relative Humidity","label":"%RH","format":"{{value}}%","min":0,"max":"100","colors":["#ff7315","#75ea00","#ff7315"],"seg1":"","seg2":"","x":770,"y":1240,"wires":[]},{"id":"fabdb134.91194","type":"ui_chart","z":"6e472e1f.e49bf","name":"","group":"89978d32.271a5","order":2,"width":"0","height":"0","label":"%RH","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"48","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":850,"y":1300,"wires":[[]]},{"id":"bad5b8ba.801d48","type":"switch","z":"6e472e1f.e49bf","name":"Humidifier auto/manual","property":"humid_am","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":790,"y":1420,"wires":[["d8f4ad28.6d075"],["48778484.2d459c"]]},{"id":"49525f18.9ad52","type":"change","z":"6e472e1f.e49bf","name":"1 (on)","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1650,"y":640,"wires":[["2ce4bef1.0bddc2"]]},{"id":"35e77284.a13f6e","type":"change","z":"6e472e1f.e49bf","name":"0 (off)","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1650,"y":560,"wires":[["2ce4bef1.0bddc2"]]},{"id":"96d98dd5.42629","type":"rpi-gpio out","z":"6e472e1f.e49bf","name":"Heater Relay (8) - Pin 7 - GPIO4","pin":"7","set":true,"level":"0","freq":"","out":"out","x":2170,"y":560,"wires":[]},{"id":"bfbbd660.2939e8","type":"link out","z":"6e472e1f.e49bf","name":"","links":["1e9dcf50.41bbf1"],"x":1875,"y":600,"wires":[]},{"id":"1e9dcf50.41bbf1","type":"link in","z":"6e472e1f.e49bf","name":"","links":["bfbbd660.2939e8","eecc2e53.5c8e4"],"x":1975,"y":600,"wires":[["96d98dd5.42629","3099a19d.edc2ae","fcfb7dfc.9aa16","36a086d1.d4c24a"]]},{"id":"14dc876c.e0c149","type":"switch","z":"6e472e1f.e49bf","name":"day/night","property":"lights_on","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1120,"y":580,"wires":[["895bfbdb.2ef338"],["da6cffa0.80f84"]]},{"id":"da6cffa0.80f84","type":"switch","z":"6e472e1f.e49bf","name":"heater ctrl night","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"maxtemp_night","vt":"global"},{"t":"lte","v":"mintemp_night","vt":"global"}],"checkall":"false","repair":false,"outputs":2,"x":1360,"y":600,"wires":[["35e77284.a13f6e"],["49525f18.9ad52"]]},{"id":"663ad551.af5b0c","type":"switch","z":"6e472e1f.e49bf","name":"Heater auto/manual","property":"heater_am","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":840,"wires":[["14dc876c.e0c149"],["dd46e6c2.43dd18"]]},{"id":"dd46e6c2.43dd18","type":"switch","z":"6e472e1f.e49bf","name":"heater manual ctrl","property":"heater_man","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1370,"y":660,"wires":[["49525f18.9ad52"],["35e77284.a13f6e"]]},{"id":"26737513.17a2fa","type":"ui_switch","z":"6e472e1f.e49bf","name":"","label":"Heater man/auto","tooltip":"","group":"55104359.ae8f1c","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":3110,"y":60,"wires":[["9c2861d.fac94a"]]},{"id":"9c2861d.fac94a","type":"change","z":"6e472e1f.e49bf","name":"heater am","rules":[{"t":"set","p":"heater_am","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3280,"y":60,"wires":[[]]},{"id":"a900bd04.3a339","type":"ui_switch","z":"6e472e1f.e49bf","name":"","label":"Heater man. off/on","tooltip":"","group":"55104359.ae8f1c","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":3110,"y":120,"wires":[["99ad2973.12b7c8"]]},{"id":"99ad2973.12b7c8","type":"change","z":"6e472e1f.e49bf","name":"heater o/f","rules":[{"t":"set","p":"heater_man","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3280,"y":120,"wires":[[]]},{"id":"13f49608.300dba","type":"switch","z":"6e472e1f.e49bf","name":"exhaust temp ctrl day","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"maxextemp_day","vt":"global"},{"t":"lte","v":"minextemp_day","vt":"global"}],"checkall":"false","repair":false,"outputs":2,"x":1460,"y":900,"wires":[["d2ee4cb1.9c7f8"],["174bc7ad.8baf78"]]},{"id":"d2ee4cb1.9c7f8","type":"change","z":"6e472e1f.e49bf","name":"1 (on)","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1810,"y":940,"wires":[["4954a62f.8d22e8"]]},{"id":"174bc7ad.8baf78","type":"change","z":"6e472e1f.e49bf","name":"0 (off)","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1810,"y":860,"wires":[["4954a62f.8d22e8"]]},{"id":"a09e68ca.d66398","type":"rpi-gpio out","z":"6e472e1f.e49bf","name":"Exhaust Relay (3) - Pin 31 - GPIO6","pin":"31","set":true,"level":"0","freq":"","out":"out","x":2340,"y":860,"wires":[]},{"id":"58546083.2e7d8","type":"link out","z":"6e472e1f.e49bf","name":"","links":["2ca9d99b.bca216"],"x":2035,"y":900,"wires":[]},{"id":"2ca9d99b.bca216","type":"link in","z":"6e472e1f.e49bf","name":"","links":["58546083.2e7d8","eecc2e53.5c8e4","bc7ace12.67f6a"],"x":2135,"y":900,"wires":[["a09e68ca.d66398","b8c4bc56.9c98b","3ad700c5.990f1","56161282.ee55cc","f113570a.ca8038"]]},{"id":"ac94a5db.f0d0d8","type":"switch","z":"6e472e1f.e49bf","name":"exhaust temp ctrl night","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"maxtemp_night","vt":"global"},{"t":"lte","v":"mintemp_night","vt":"global"}],"checkall":"false","repair":false,"outputs":2,"x":1460,"y":960,"wires":[["d2ee4cb1.9c7f8"],["174bc7ad.8baf78"]]},{"id":"cf203c1c.bf0e9","type":"switch","z":"6e472e1f.e49bf","name":"Exhaust auto/manual","property":"exhaust_am","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":900,"wires":[["660dcaed.43e974"],["b081c1a6.ba515"]]},{"id":"b081c1a6.ba515","type":"switch","z":"6e472e1f.e49bf","name":"exhaust manual control","property":"exhaust_man","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1450,"y":1020,"wires":[["d2ee4cb1.9c7f8"],["174bc7ad.8baf78"]]},{"id":"be380b6e.cd5ab8","type":"ui_switch","z":"6e472e1f.e49bf","name":"","label":"Exhaust temp ctrl","tooltip":"","group":"218993f3.dd413c","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":3710,"y":180,"wires":[["6465324b.d582fc"]]},{"id":"6465324b.d582fc","type":"change","z":"6e472e1f.e49bf","name":"exhaust temp ctrl","rules":[{"t":"set","p":"exhaust_temp_ctrl","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3930,"y":180,"wires":[["905f964a.35e188"]]},{"id":"50360b97.d4fdc4","type":"ui_switch","z":"6e472e1f.e49bf","name":"","label":"Exhaust man/auto","tooltip":"","group":"218993f3.dd413c","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":3710,"y":60,"wires":[["51209568.d715fc"]]},{"id":"51209568.d715fc","type":"change","z":"6e472e1f.e49bf","name":"exhaust am","rules":[{"t":"set","p":"exhaust_am","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3930,"y":60,"wires":[[]]},{"id":"a8f1d699.fe9c08","type":"ui_switch","z":"6e472e1f.e49bf","name":"","label":"Exhaust man. off/on","tooltip":"","group":"218993f3.dd413c","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":3720,"y":120,"wires":[["4a1910a2.71a6b"]]},{"id":"4a1910a2.71a6b","type":"change","z":"6e472e1f.e49bf","name":"exhaust man","rules":[{"t":"set","p":"exhaust_man","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3930,"y":120,"wires":[[]]},{"id":"9088e2d1.b8ace","type":"ui_numeric","z":"6e472e1f.e49bf","name":"","label":"Max Temp Exh. - Day","tooltip":"Temp turns on exhaust","group":"218993f3.dd413c","order":10,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}&degF","min":0,"max":"100","step":1,"x":1020,"y":60,"wires":[["7b320143.cc0ab"]]},{"id":"7b320143.cc0ab","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"maxextemp_day","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":60,"wires":[[]]},{"id":"b81246a7.998f98","type":"ui_numeric","z":"6e472e1f.e49bf","name":"","label":"Min Temp Exh. - Day","tooltip":"Temp turns off exhaust","group":"218993f3.dd413c","order":11,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}&degF","min":0,"max":"100","step":1,"x":1020,"y":120,"wires":[["90b1b6a7.927038"]]},{"id":"90b1b6a7.927038","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"minextemp_day","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":120,"wires":[[]]},{"id":"c8604fc1.bef71","type":"ui_numeric","z":"6e472e1f.e49bf","name":"","label":"Max Temp Exh - Night","tooltip":"Temp turns on exhaust","group":"218993f3.dd413c","order":12,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}&degF","min":0,"max":"100","step":1,"x":1020,"y":180,"wires":[["14b96899.bcc1d7"]]},{"id":"14b96899.bcc1d7","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"maxextemp_night","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":180,"wires":[[]]},{"id":"def1fe04.727c6","type":"ui_numeric","z":"6e472e1f.e49bf","name":"","label":"Min Temp Exh - Night","tooltip":"Temp turns off exhaust","group":"218993f3.dd413c","order":13,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}&degF","min":0,"max":"100","step":1,"x":1020,"y":240,"wires":[["4d1fa50f.618d5c"]]},{"id":"4d1fa50f.618d5c","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"minextemp_night","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":240,"wires":[[]]},{"id":"b8c4bc56.9c98b","type":"rpi-gpio out","z":"6e472e1f.e49bf","name":"Intake Relay (1) - Pin 35 - GPIO19","pin":"35","set":true,"level":"0","freq":"","out":"out","x":2340,"y":800,"wires":[]},{"id":"8ee66af6.eb2c68","type":"switch","z":"6e472e1f.e49bf","name":"Dehumidifier auto/manual","property":"dehumid_am","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":790,"y":1360,"wires":[["9486b321.828d5"],["65593.04736a6e"]]},{"id":"e4cc43a5.f8502","type":"switch","z":"6e472e1f.e49bf","name":"dehumid ctrl day","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"maxrh_day","vt":"global"},{"t":"lte","v":"minrh_day","vt":"global"}],"checkall":"false","repair":false,"outputs":2,"x":1360,"y":1200,"wires":[["31e8ccb8.53b8c4"],["2de4c1f2.52642e"]]},{"id":"31e8ccb8.53b8c4","type":"change","z":"6e472e1f.e49bf","name":"1 (on)","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1650,"y":1300,"wires":[["c9842129.eaf3d"]]},{"id":"2de4c1f2.52642e","type":"change","z":"6e472e1f.e49bf","name":"0 (off)","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1650,"y":1220,"wires":[["c9842129.eaf3d"]]},{"id":"ad145426.775b78","type":"link out","z":"6e472e1f.e49bf","name":"","links":["a9196f30.36991"],"x":1895,"y":1260,"wires":[]},{"id":"a9196f30.36991","type":"link in","z":"6e472e1f.e49bf","name":"","links":["ad145426.775b78","eecc2e53.5c8e4"],"x":2015,"y":1260,"wires":[["a6166bf7.7f4658","d1642354.1ee0d","c116150.48f58e8"]]},{"id":"9486b321.828d5","type":"switch","z":"6e472e1f.e49bf","name":"day/night","property":"lights_on","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1120,"y":1260,"wires":[["e4cc43a5.f8502"],["5d82bec0.dd758"]]},{"id":"5d82bec0.dd758","type":"switch","z":"6e472e1f.e49bf","name":"dehumid ctrl night","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"maxrh_night","vt":"global"},{"t":"lte","v":"minrh_night","vt":"global"}],"checkall":"false","repair":false,"outputs":2,"x":1370,"y":1260,"wires":[["31e8ccb8.53b8c4"],["2de4c1f2.52642e"]]},{"id":"65593.04736a6e","type":"switch","z":"6e472e1f.e49bf","name":"dehumid manual ctrl","property":"dehumid_man","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1380,"y":1320,"wires":[["31e8ccb8.53b8c4"],["2de4c1f2.52642e"]]},{"id":"a6166bf7.7f4658","type":"rpi-gpio out","z":"6e472e1f.e49bf","name":"Dehumidifier Relay (6) - Pin 13 - GPIO27","pin":"13","set":true,"level":"0","freq":"","out":"out","x":2240,"y":1220,"wires":[]},{"id":"69ea23a0.8ab38c","type":"switch","z":"6e472e1f.e49bf","name":"humid ctrl day","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"maxhumid_day","vt":"global"},{"t":"lte","v":"minhumid_day","vt":"global"}],"checkall":"false","repair":false,"outputs":2,"x":1360,"y":1380,"wires":[["40e101a2.5023f"],["f9c3e86c.85cbd8"]]},{"id":"f9c3e86c.85cbd8","type":"change","z":"6e472e1f.e49bf","name":"0 (on)","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1650,"y":1480,"wires":[["aae71dd7.b580e"]]},{"id":"40e101a2.5023f","type":"change","z":"6e472e1f.e49bf","name":"1 (off)","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1650,"y":1400,"wires":[["aae71dd7.b580e"]]},{"id":"b1d2a354.3d87c","type":"link out","z":"6e472e1f.e49bf","name":"","links":["fd04d628.26ff58"],"x":1895,"y":1440,"wires":[]},{"id":"fd04d628.26ff58","type":"link in","z":"6e472e1f.e49bf","name":"","links":["b1d2a354.3d87c","eecc2e53.5c8e4"],"x":2015,"y":1440,"wires":[["99877801.f90038","30c5dd2.7b0af22","618e6c3d.66b0c4","ce80231.9da1ae"]]},{"id":"d8f4ad28.6d075","type":"switch","z":"6e472e1f.e49bf","name":"day/night","property":"lights_on","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1120,"y":1400,"wires":[["69ea23a0.8ab38c"],["d139f3e9.c1fa5"]]},{"id":"d139f3e9.c1fa5","type":"switch","z":"6e472e1f.e49bf","name":"humid ctrl night","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"maxhumid_night","vt":"global"},{"t":"lte","v":"minhumid_night","vt":"global"}],"checkall":"false","repair":false,"outputs":2,"x":1360,"y":1440,"wires":[["40e101a2.5023f"],["f9c3e86c.85cbd8"]]},{"id":"48778484.2d459c","type":"switch","z":"6e472e1f.e49bf","name":"humid manual ctrl","property":"humid_man","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1390,"y":1500,"wires":[["f9c3e86c.85cbd8"],["40e101a2.5023f"]]},{"id":"99877801.f90038","type":"rpi-gpio out","z":"6e472e1f.e49bf","name":"Humidifier Relay (4) - Pin 29 - GPIO05","pin":"29","set":true,"level":"1","freq":"","out":"out","x":2230,"y":1400,"wires":[]},{"id":"384bab73.cf4a54","type":"ui_numeric","z":"6e472e1f.e49bf","name":"","label":"Max Humid - Night","tooltip":"Humidifier turns off","group":"b806f09.05ae81","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}%","min":0,"max":"100","step":1,"x":1710,"y":180,"wires":[["1666e13c.e2ff7f"]]},{"id":"1666e13c.e2ff7f","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"maxhumid_night","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1960,"y":180,"wires":[[]]},{"id":"f140afbe.eaa51","type":"ui_numeric","z":"6e472e1f.e49bf","name":"","label":"Min Humid - Night","tooltip":"Humidifier turns on","group":"b806f09.05ae81","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}%","min":0,"max":"100","step":1,"x":1710,"y":240,"wires":[["2c436397.9e7a0c"]]},{"id":"2c436397.9e7a0c","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"minhumid_night","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1950,"y":240,"wires":[[]]},{"id":"c3c70a3d.c58a28","type":"ui_numeric","z":"6e472e1f.e49bf","name":"","label":"Max Humid - Day","tooltip":"Humidifier turns off","group":"b806f09.05ae81","order":4,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}%","min":0,"max":"100","step":1,"x":1710,"y":60,"wires":[["46dddf53.6ca43"]]},{"id":"46dddf53.6ca43","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"maxhumid_day","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1950,"y":60,"wires":[[]]},{"id":"3b32b97d.152a56","type":"ui_numeric","z":"6e472e1f.e49bf","name":"","label":"Min Humid - Day","tooltip":"Humidifier turns on","group":"b806f09.05ae81","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}%","min":0,"max":"100","step":1,"x":1710,"y":120,"wires":[["b3c4d59c.a355b8"]]},{"id":"b3c4d59c.a355b8","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"minhumid_day","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1950,"y":120,"wires":[[]]},{"id":"4e3b7eba.3bd6e","type":"ui_switch","z":"6e472e1f.e49bf","name":"","label":"Dehumid man/auto","tooltip":"","group":"ae012c4c.e138b","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":3110,"y":180,"wires":[["95b6fa88.1f98d8"]]},{"id":"95b6fa88.1f98d8","type":"change","z":"6e472e1f.e49bf","name":"dehumid am","rules":[{"t":"set","p":"dehumid_am","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3330,"y":180,"wires":[[]]},{"id":"8ed87506.e4aaa8","type":"ui_switch","z":"6e472e1f.e49bf","name":"","label":"Dehumid man. off/on","tooltip":"","group":"ae012c4c.e138b","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":3120,"y":240,"wires":[["c3f2cb1.e379138"]]},{"id":"c3f2cb1.e379138","type":"change","z":"6e472e1f.e49bf","name":"dehumid man","rules":[{"t":"set","p":"dehumid_man","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3340,"y":240,"wires":[[]]},{"id":"549c384f.2ec778","type":"ui_switch","z":"6e472e1f.e49bf","name":"","label":"Exhaust rh ctrl","tooltip":"","group":"218993f3.dd413c","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":3700,"y":240,"wires":[["ab935f11.3698d"]]},{"id":"ab935f11.3698d","type":"change","z":"6e472e1f.e49bf","name":"exhaust rh ctrl","rules":[{"t":"set","p":"exhaust_rh_ctrl","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3920,"y":240,"wires":[["ab7062d.3275ca"]]},{"id":"f59ee815.2e42d8","type":"ui_switch","z":"6e472e1f.e49bf","name":"","label":"Exhaust interval night ctrl","tooltip":"","group":"218993f3.dd413c","order":14,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":3730,"y":300,"wires":[["71ad2c5f.cfbb94"]]},{"id":"71ad2c5f.cfbb94","type":"change","z":"6e472e1f.e49bf","name":"exhaust interval ctrl","rules":[{"t":"set","p":"exhaust_int_ctrl","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3970,"y":300,"wires":[[]]},{"id":"2205c813.432458","type":"ui_switch","z":"6e472e1f.e49bf","name":"","label":"Humid man/auto","tooltip":"","group":"b806f09.05ae81","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":3100,"y":300,"wires":[["36cf0689.c9177a"]]},{"id":"36cf0689.c9177a","type":"change","z":"6e472e1f.e49bf","name":"dehumid am","rules":[{"t":"set","p":"humid_am","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3330,"y":300,"wires":[[]]},{"id":"6758bee7.bd9b6","type":"ui_switch","z":"6e472e1f.e49bf","name":"","label":"Humid man. off/on","tooltip":"","group":"b806f09.05ae81","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":3110,"y":360,"wires":[["f059a143.ac0a5"]]},{"id":"f059a143.ac0a5","type":"change","z":"6e472e1f.e49bf","name":"humid man","rules":[{"t":"set","p":"humid_man","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3330,"y":360,"wires":[[]]},{"id":"660dcaed.43e974","type":"switch","z":"6e472e1f.e49bf","name":"temp ctrl","property":"exhaust_temp_ctrl","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1040,"y":880,"wires":[["f0cd151e.e8e198"]]},{"id":"e2b3fa90.1a3f98","type":"switch","z":"6e472e1f.e49bf","name":"RH ctrl","property":"exhaust_rh_ctrl","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1030,"y":840,"wires":[["e908e15c.ddf4"]]},{"id":"e908e15c.ddf4","type":"switch","z":"6e472e1f.e49bf","name":"day/night","property":"lights_on","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1220,"y":840,"wires":[["db44f038.1071f"],["c4186a6e.067a48"]]},{"id":"db44f038.1071f","type":"switch","z":"6e472e1f.e49bf","name":"exhaust rh ctrl day","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"maxexrh_day","vt":"global"},{"t":"lte","v":"minexrh_day","vt":"global"}],"checkall":"false","repair":false,"outputs":2,"x":1450,"y":780,"wires":[["d2ee4cb1.9c7f8"],["174bc7ad.8baf78"]]},{"id":"c4186a6e.067a48","type":"switch","z":"6e472e1f.e49bf","name":"exhaust rh ctrl night","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"maxexrh_night","vt":"global"},{"t":"lte","v":"minexrh_night","vt":"global"}],"checkall":"false","repair":false,"outputs":2,"x":1450,"y":840,"wires":[["d2ee4cb1.9c7f8"],["174bc7ad.8baf78"]]},{"id":"5861a380.8d165c","type":"ui_numeric","z":"6e472e1f.e49bf","name":"","label":"Max Humid Exh. - Night","tooltip":"Humidity turns on exhaust","group":"218993f3.dd413c","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}%","min":0,"max":"100","step":1,"x":2410,"y":180,"wires":[["7bf53cdd.c91334"]]},{"id":"a780471c.c50ca8","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"maxexrh_day","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2670,"y":60,"wires":[[]]},{"id":"3aa1878b.4596d8","type":"ui_numeric","z":"6e472e1f.e49bf","name":"","label":"Min Humid Exh. - Night","tooltip":"Humidity turns off exhaust","group":"218993f3.dd413c","order":8,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}%","min":0,"max":"100","step":1,"x":2410,"y":240,"wires":[["db8a371e.e08718"]]},{"id":"d6e56697.b2ebc8","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"minexrh_day","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2670,"y":120,"wires":[[]]},{"id":"d1c044ce.880478","type":"ui_numeric","z":"6e472e1f.e49bf","name":"","label":"Max Humid Exh. - Day","tooltip":"Humidity turns on exhaust","group":"218993f3.dd413c","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}%","min":0,"max":"100","step":1,"x":2400,"y":60,"wires":[["a780471c.c50ca8"]]},{"id":"7bf53cdd.c91334","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"maxexrh_night","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2670,"y":180,"wires":[[]]},{"id":"2f21290a.f8e706","type":"ui_numeric","z":"6e472e1f.e49bf","name":"","label":"Min Humid Exh. - Day","tooltip":"Humidity turns off exhaust","group":"218993f3.dd413c","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}%","min":0,"max":"100","step":1,"x":2400,"y":120,"wires":[["d6e56697.b2ebc8"]]},{"id":"db8a371e.e08718","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"minexrh_night","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2670,"y":240,"wires":[[]]},{"id":"3099a19d.edc2ae","type":"debug","z":"6e472e1f.e49bf","name":"Heater debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2120,"y":680,"wires":[]},{"id":"3ad700c5.990f1","type":"debug","z":"6e472e1f.e49bf","name":"Ventilation debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2290,"y":980,"wires":[]},{"id":"d1642354.1ee0d","type":"debug","z":"6e472e1f.e49bf","name":"Dehumidifier debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2170,"y":1340,"wires":[]},{"id":"30c5dd2.7b0af22","type":"debug","z":"6e472e1f.e49bf","name":"Humidifier debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2170,"y":1520,"wires":[]},{"id":"4b03a01f.047de","type":"debug","z":"6e472e1f.e49bf","name":"DHT debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":1340,"wires":[]},{"id":"fcfb7dfc.9aa16","type":"function","z":"6e472e1f.e49bf","name":"LED","func":"msg.color = (msg.payload === \"1\")?\"lime\":\"red\";\nreturn msg;","outputs":1,"noerr":0,"x":2090,"y":620,"wires":[["a801ac92.f0dfc"]]},{"id":"a801ac92.f0dfc","type":"ui_text","z":"6e472e1f.e49bf","group":"55104359.ae8f1c","order":1,"width":"3","height":"1","name":"","label":"Heater LED","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-left","x":2290,"y":620,"wires":[]},{"id":"56161282.ee55cc","type":"function","z":"6e472e1f.e49bf","name":"LED","func":"msg.color = (msg.payload === \"1\")?\"lime\":\"red\";\nreturn msg;","outputs":1,"noerr":0,"x":2250,"y":920,"wires":[["fdada552.3c6f88"]]},{"id":"fdada552.3c6f88","type":"ui_text","z":"6e472e1f.e49bf","group":"218993f3.dd413c","order":1,"width":"3","height":"1","name":"","label":"Exhaust LED","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-left","x":2450,"y":920,"wires":[]},{"id":"c116150.48f58e8","type":"function","z":"6e472e1f.e49bf","name":"LED","func":"msg.color = (msg.payload === \"1\")?\"lime\":\"red\";\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":1280,"wires":[["73fb2d05.1b2854"]]},{"id":"73fb2d05.1b2854","type":"ui_text","z":"6e472e1f.e49bf","group":"ae012c4c.e138b","order":1,"width":"3","height":"1","name":"","label":"Dehumidifier LED","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-left","x":2350,"y":1280,"wires":[]},{"id":"618e6c3d.66b0c4","type":"function","z":"6e472e1f.e49bf","name":"LED","func":"msg.color = (msg.payload === \"0\")?\"lime\":\"red\";\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":1460,"wires":[["a1df4d67.b22ba"]]},{"id":"a1df4d67.b22ba","type":"ui_text","z":"6e472e1f.e49bf","group":"b806f09.05ae81","order":1,"width":"3","height":"1","name":"","label":"Humidifier LED","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-left","x":2340,"y":1460,"wires":[]},{"id":"c7d45190.d27ff","type":"bigtimer","z":"6e472e1f.e49bf","outtopic":"","outpayload1":"0","outpayload2":"1","name":"Big Timer","comment":"","lat":"53.546","lon":"113.494","starttime":"0","endtime":"0","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"0","outtext2":"1","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":940,"y":1760,"wires":[["47070c87.227144","a2dabb2f.4108a8"],[],[]]},{"id":"1427a19.1987c5e","type":"ui_text_input","z":"6e472e1f.e49bf","name":"Lights On Time","label":"Lights On Time HH:MM (24h format)","tooltip":"","group":"7999bcbc.c400c4","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":300,"y":1740,"wires":[["ee1765b0.c82f88"]]},{"id":"370e27fa.77d238","type":"join","z":"6e472e1f.e49bf","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":" ","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":730,"y":1760,"wires":[["c7d45190.d27ff"]]},{"id":"ee1765b0.c82f88","type":"trigger","z":"6e472e1f.e49bf","op1":"on_override","op2":"","op1type":"str","op2type":"pay","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":1740,"wires":[["370e27fa.77d238"]]},{"id":"9acf6e88.11b18","type":"trigger","z":"6e472e1f.e49bf","op1":"off_override","op2":"","op1type":"str","op2type":"pay","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":1800,"wires":[["370e27fa.77d238"]]},{"id":"15ec60c3.52b70f","type":"ui_text_input","z":"6e472e1f.e49bf","name":"Lights Off Time","label":"Lights Off Time HH:MM (24h format)","tooltip":"","group":"7999bcbc.c400c4","order":10,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":300,"y":1800,"wires":[["9acf6e88.11b18"]]},{"id":"40cf3ffe.9c715","type":"rpi-gpio out","z":"6e472e1f.e49bf","name":"Lights Relay (2) - Pin 11 - GPIO17","pin":"11","set":true,"level":"0","freq":"","out":"out","x":1860,"y":1700,"wires":[]},{"id":"44fc8d60.b7d264","type":"link in","z":"6e472e1f.e49bf","name":"","links":["47070c87.227144"],"x":1135,"y":1740,"wires":[["b40c90b7.e697b","5aca2531.de7dec","2bcc2800.7606c8"]]},{"id":"47070c87.227144","type":"link out","z":"6e472e1f.e49bf","name":"","links":["44fc8d60.b7d264"],"x":1055,"y":1740,"wires":[]},{"id":"b40c90b7.e697b","type":"function","z":"6e472e1f.e49bf","name":"LED","func":"msg.color = (msg.payload === \"0\")?\"lime\":\"red\";\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":1800,"wires":[["36746512.77b2ca"]]},{"id":"36746512.77b2ca","type":"ui_text","z":"6e472e1f.e49bf","group":"7999bcbc.c400c4","order":1,"width":"3","height":"1","name":"","label":"Lights LED","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-left","x":1490,"y":1800,"wires":[]},{"id":"263e4fb6.fd08","type":"ui_switch","z":"6e472e1f.e49bf","name":"","label":"Light Timer Disable","tooltip":"Suspend the timer function and use manual on/off","group":"7999bcbc.c400c4","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"manual","onvalueType":"str","onicon":"","oncolor":"","offvalue":"auto","offvalueType":"str","officon":"","offcolor":"","x":710,"y":1860,"wires":[["c7d45190.d27ff"]]},{"id":"b3dee546.3c0908","type":"moment","z":"6e472e1f.e49bf","name":"","topic":"","input":"payload","inputType":"msg","inTz":"MST","adjAmount":"1","adjType":"hours","adjDir":"add","format":"MM/DD/YYYY h:mm A","locale":"en_US","output":"payload","outputType":"msg","outTz":"MST","x":340,"y":1680,"wires":[["5054cc5e.8e2fd4"]]},{"id":"5054cc5e.8e2fd4","type":"ui_text","z":"6e472e1f.e49bf","group":"7999bcbc.c400c4","order":2,"width":0,"height":0,"name":"","label":"Current Time","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":1680,"wires":[]},{"id":"b40982af.53ab4","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1680,"wires":[["b3dee546.3c0908"]]},{"id":"2295e4f4.58499c","type":"ui_switch","z":"6e472e1f.e49bf","name":"","label":"Lights man. on/off","tooltip":"Turns lights on/off","group":"7999bcbc.c400c4","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"1","offvalueType":"str","officon":"","offcolor":"","x":630,"y":1600,"wires":[["c7d45190.d27ff"]]},{"id":"2899332c.d343bc","type":"bigtimer","z":"6e472e1f.e49bf","outtopic":"","outpayload1":"0","outpayload2":"1","name":"Big Timer 2","comment":"","lat":"53.546","lon":"113.494","starttime":"0","endtime":"0","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"0","outtext2":"1","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":1810,"y":1960,"wires":[["c79c8710.35e2d8"],[],[]]},{"id":"bc7ace12.67f6a","type":"link out","z":"6e472e1f.e49bf","name":"","links":["8cc995ae.4981a8","2ca9d99b.bca216"],"x":2355,"y":1940,"wires":[]},{"id":"ae6bed86.e8be6","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"on_int_timer","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2600,"y":300,"wires":[[]]},{"id":"30f1abb7.0e4894","type":"switch","z":"6e472e1f.e49bf","name":"interval ctrl","property":"exhaust_int_ctrl","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1630,"y":1960,"wires":[["2899332c.d343bc"]]},{"id":"ba5fd69a.45ec48","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"on_int_timer","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":1960,"wires":[["30f1abb7.0e4894"]]},{"id":"8cf88582.540a18","type":"ui_text_input","z":"6e472e1f.e49bf","name":"On Interval Time","label":"On Time (s)","tooltip":"","group":"218993f3.dd413c","order":15,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":2380,"y":300,"wires":[["ae6bed86.e8be6"]]},{"id":"5aca2531.de7dec","type":"change","z":"6e472e1f.e49bf","name":"Lights on","rules":[{"t":"set","p":"lights_on","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":1860,"wires":[[]]},{"id":"f0cd151e.e8e198","type":"switch","z":"6e472e1f.e49bf","name":"day/night","property":"lights_on","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1220,"y":900,"wires":[["13f49608.300dba"],["ac94a5db.f0d0d8"]]},{"id":"2bcc2800.7606c8","type":"switch","z":"6e472e1f.e49bf","name":"0/1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1270,"y":1720,"wires":[["d3eca477.846ea8"],["6ea43e79.004a8"]]},{"id":"6ea43e79.004a8","type":"change","z":"6e472e1f.e49bf","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":1680,"wires":[["860477db.3082c8"]]},{"id":"d3eca477.846ea8","type":"change","z":"6e472e1f.e49bf","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":1740,"wires":[["860477db.3082c8"]]},{"id":"2146645e.b5964c","type":"switch","z":"6e472e1f.e49bf","name":"Exhaust auto/manual","property":"exhaust_am","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":960,"wires":[["e2b3fa90.1a3f98"],[]]},{"id":"8976564a.265738","type":"change","z":"6e472e1f.e49bf","name":"Global Temp","rules":[{"t":"set","p":"global_temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":660,"wires":[[]]},{"id":"91f649b8.d95708","type":"change","z":"6e472e1f.e49bf","name":"Global Humidity","rules":[{"t":"set","p":"global_humidity","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1480,"wires":[[]]},{"id":"c79c8710.35e2d8","type":"switch","z":"6e472e1f.e49bf","name":"0/1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1970,"y":1940,"wires":[["5bbd232.79328dc"],["da982cbc.bd01b"]]},{"id":"da982cbc.bd01b","type":"change","z":"6e472e1f.e49bf","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2110,"y":1920,"wires":[["51ea665e.723ea8"]]},{"id":"5bbd232.79328dc","type":"change","z":"6e472e1f.e49bf","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2110,"y":1980,"wires":[["51ea665e.723ea8"]]},{"id":"107cb0a7.269a5f","type":"rpi-dht22","z":"6e472e1f.e49bf","name":"DHT22","topic":"rpi-dht22","dht":22,"pintype":"0","pin":"18","x":320,"y":1140,"wires":[["78629049.080cd","539264c.4fdb49c","7d8d69e4.625758","4b03a01f.047de","e4cb172a.a7ac88","ab99bd7c.a37b4"]]},{"id":"863440d7.9dab5","type":"smooth","z":"6e472e1f.e49bf","name":"","property":"payload","action":"mean","count":"15","round":"1","mult":"single","reduce":false,"x":740,"y":780,"wires":[["613ec80c.bc7158"]]},{"id":"bad5cd06.84821","type":"smooth","z":"6e472e1f.e49bf","name":"","property":"payload","action":"mean","count":"15","round":"0","mult":"single","reduce":false,"x":720,"y":1300,"wires":[["fabdb134.91194"]]},{"id":"a2dabb2f.4108a8","type":"trigger","z":"6e472e1f.e49bf","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-30","extend":false,"units":"min","reset":"0","bytopic":"all","name":"","x":1210,"y":1960,"wires":[["ba5fd69a.45ec48"]]},{"id":"2674b618.80527a","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"74","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":60,"wires":[["26eb4907.84dc96"]]},{"id":"cb8c1a88.1b0918","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"71","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":120,"wires":[["98709a72.4a6478"]]},{"id":"c171a7b7.e60c38","type":"smart-plug","z":"6e472e1f.e49bf","name":"plug1 - HS103(US)","device":"10.0.0.83","interval":10000,"eventInterval":1000,"payload":"getInfo","payloadType":"info","debug":false,"x":2510,"y":1040,"wires":[[]]},{"id":"f113570a.ca8038","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"true","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2280,"y":1040,"wires":[["c171a7b7.e60c38"]]},{"id":"885b9b55.0b7718","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"74","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":180,"wires":[["279c5370.f772ec"]]},{"id":"564f9e68.0c14","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"71","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":240,"wires":[["134fd8fc.479227"]]},{"id":"e0030a7c.4ebd98","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"70","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":300,"wires":[["11ffbcbc.014503"]]},{"id":"f4cd3e85.0f15c","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"60","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":360,"wires":[["f4c65ae4.018848"]]},{"id":"2511e064.9aaba","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"60","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":420,"wires":[["e151a0c4.5df89"]]},{"id":"43196526.488cdc","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"50","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":480,"wires":[["6d9905a.4ff24fc"]]},{"id":"8c0e9cd2.db36","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"78","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":810,"y":60,"wires":[["9088e2d1.b8ace"]]},{"id":"64fc2ed9.476e6","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"74","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":810,"y":120,"wires":[["b81246a7.998f98"]]},{"id":"ef630e0f.342db","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"76","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":810,"y":180,"wires":[["c8604fc1.bef71"]]},{"id":"10983136.fe0fef","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"74","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":810,"y":240,"wires":[["def1fe04.727c6"]]},{"id":"7f976e0b.b3bf7","type":"smart-plug","z":"6e472e1f.e49bf","name":"plug2 - HS103(US)","device":"10.0.0.228","interval":10000,"eventInterval":1000,"payload":"getInfo","payloadType":"info","debug":false,"x":2390,"y":1580,"wires":[[]]},{"id":"ce80231.9da1ae","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"true","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2160,"y":1580,"wires":[["7f976e0b.b3bf7"]]},{"id":"27924e6e.463c32","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"65","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1510,"y":60,"wires":[["c3c70a3d.c58a28"]]},{"id":"342164a7.4fe63c","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"50","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1510,"y":120,"wires":[["3b32b97d.152a56"]]},{"id":"70ab2cc6.bf7484","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"60","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1510,"y":180,"wires":[["384bab73.cf4a54"]]},{"id":"a409cdc1.63462","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"45","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1510,"y":240,"wires":[["f140afbe.eaa51"]]},{"id":"97299305.1cb82","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"70","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":2190,"y":60,"wires":[["d1c044ce.880478"]]},{"id":"1b1529.6a407ad8","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"60","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":2190,"y":120,"wires":[["2f21290a.f8e706"]]},{"id":"22d15f6c.a4545","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"60","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":2190,"y":180,"wires":[["5861a380.8d165c"]]},{"id":"c13845e.a7ab5b8","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"50","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":2190,"y":240,"wires":[["3aa1878b.4596d8"]]},{"id":"872ba77a.123428","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":2910,"y":60,"wires":[["26737513.17a2fa"]]},{"id":"d977c2f3.d4756","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":2910,"y":120,"wires":[["a900bd04.3a339"]]},{"id":"cd490f26.5d425","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":2910,"y":180,"wires":[["4e3b7eba.3bd6e"]]},{"id":"bcfa6b51.cc5ee8","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":2910,"y":240,"wires":[["8ed87506.e4aaa8"]]},{"id":"5125048c.15be2c","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":2910,"y":360,"wires":[["6758bee7.bd9b6"]]},{"id":"e982059b.0f85e8","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":2910,"y":300,"wires":[["2205c813.432458"]]},{"id":"c47213ef.f7555","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":3510,"y":60,"wires":[["50360b97.d4fdc4"]]},{"id":"54ccbc75.bf0a74","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":3510,"y":120,"wires":[["a8f1d699.fe9c08"]]},{"id":"b4f64c48.dc60e","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":3510,"y":180,"wires":[["be380b6e.cd5ab8"]]},{"id":"9c8d8af9.d18858","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":3510,"y":240,"wires":[["549c384f.2ec778"]]},{"id":"2ad6856.aac887a","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":3510,"y":300,"wires":[["f59ee815.2e42d8"]]},{"id":"a13c30eb.d00cf","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"timer 300","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":2200,"y":300,"wires":[["8cf88582.540a18"]]},{"id":"4954a62f.8d22e8","type":"rbe","z":"6e472e1f.e49bf","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":900,"wires":[["58546083.2e7d8"]]},{"id":"2ce4bef1.0bddc2","type":"rbe","z":"6e472e1f.e49bf","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1790,"y":600,"wires":[["bfbbd660.2939e8"]]},{"id":"c9842129.eaf3d","type":"rbe","z":"6e472e1f.e49bf","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1790,"y":1260,"wires":[["ad145426.775b78"]]},{"id":"aae71dd7.b580e","type":"rbe","z":"6e472e1f.e49bf","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1790,"y":1440,"wires":[["b1d2a354.3d87c"]]},{"id":"860477db.3082c8","type":"rbe","z":"6e472e1f.e49bf","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1590,"y":1700,"wires":[["40cf3ffe.9c715"]]},{"id":"51ea665e.723ea8","type":"rbe","z":"6e472e1f.e49bf","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":2250,"y":1940,"wires":[["bc7ace12.67f6a"]]},{"id":"59de5082.45936","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"06:00","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":1740,"wires":[["1427a19.1987c5e"]]},{"id":"9f5be876.bad898","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"00:00","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":1800,"wires":[["15ec60c3.52b70f"]]},{"id":"905f964a.35e188","type":"switch","z":"6e472e1f.e49bf","name":"If on","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":4110,"y":180,"wires":[["66a8408b.4e371"]]},{"id":"66a8408b.4e371","type":"change","z":"6e472e1f.e49bf","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":4250,"y":180,"wires":[["549c384f.2ec778"]]},{"id":"fce1497c.c4a608","type":"change","z":"6e472e1f.e49bf","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":4250,"y":240,"wires":[["be380b6e.cd5ab8"]]},{"id":"ab7062d.3275ca","type":"switch","z":"6e472e1f.e49bf","name":"If on","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":4110,"y":240,"wires":[["fce1497c.c4a608"]]},{"id":"4d5c370d.e0a088","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":430,"y":1600,"wires":[["2295e4f4.58499c"]]},{"id":"51f8c7fb.48f728","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":510,"y":1860,"wires":[["263e4fb6.fd08"]]},{"id":"a5401602.49a908","type":"comment","z":"6e472e1f.e49bf","name":"","info":"During nightime, turns on the exhaust/intake fan for specified amount of time. Hard coded for 30 minutes. Setpoint must be entered as \"timer XXX\" in seconds","x":1180,"y":1920,"wires":[]},{"id":"6c9736bf.bf2fa8","type":"comment","z":"6e472e1f.e49bf","name":"","info":"only allows for one exhaust control mode to be enabled at a time","x":4120,"y":140,"wires":[]},{"id":"a7f298be.e52708","type":"trigger","z":"6e472e1f.e49bf","op1":"on_override","op2":"","op1type":"str","op2type":"pay","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":560,"y":2240,"wires":[["2fc08196.48d71e"]]},{"id":"3acfce78.31dbb2","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"feed_on1","payloadType":"global","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":170,"y":2240,"wires":[["b747b01d.04273"]]},{"id":"1f7d9154.1e321f","type":"bigtimer","z":"6e472e1f.e49bf","outtopic":"","outpayload1":"0","outpayload2":"1","name":"Big Timer 3","comment":"","lat":"53.546","lon":"113.494","starttime":"0","endtime":"0","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"0","outtext2":"1","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":850,"y":2240,"wires":[["d1457f46.9b847"],[],[]]},{"id":"6b3e6afe.164c54","type":"ui_switch","z":"6e472e1f.e49bf","name":"","label":"Feed pump man. off/on","tooltip":"Turns lights off/on","group":"875b2792.d32768","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1230,"y":2120,"wires":[["5fb7a0ee.7cdea"]]},{"id":"42067108.881b8","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1010,"y":2120,"wires":[["6b3e6afe.164c54"]]},{"id":"9739897c.6bd288","type":"ui_switch","z":"6e472e1f.e49bf","name":"","label":"Feed Pump Timer Disable","tooltip":"Suspend the timer function and use manual on/off","group":"875b2792.d32768","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"manual","onvalueType":"str","onicon":"","oncolor":"","offvalue":"auto","offvalueType":"str","officon":"","offcolor":"","x":1230,"y":2180,"wires":[["5fb7a0ee.7cdea"]]},{"id":"602b456a.c9840c","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1010,"y":2180,"wires":[["9739897c.6bd288"]]},{"id":"c58c6026.4f0ee","type":"trigger","z":"6e472e1f.e49bf","op1":"on_override","op2":"","op1type":"str","op2type":"pay","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":560,"y":2320,"wires":[["7b2344.43aadcbc"]]},{"id":"8c6fd6d7.232e48","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"feed_on2","payloadType":"global","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":170,"y":2320,"wires":[["efddc446.78c0f8"]]},{"id":"eb8cfc0c.7cf4e","type":"trigger","z":"6e472e1f.e49bf","op1":"on_override","op2":"","op1type":"str","op2type":"pay","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":560,"y":2400,"wires":[["ce16e532.c3f698"]]},{"id":"1f8e0e75.ea01f2","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"feed_on3","payloadType":"global","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":170,"y":2400,"wires":[["81c2d3b3.2f546"]]},{"id":"5fb7a0ee.7cdea","type":"bigtimer","z":"6e472e1f.e49bf","outtopic":"","outpayload1":"0","outpayload2":"1","name":"Big Timer 6","comment":"","lat":"53.546","lon":"113.494","starttime":"0","endtime":"0","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"0","outtext2":"1","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":1470,"y":2220,"wires":[["f294a959.73d5f8","94d12f1e.0215c","a6ddc7cf.77b888","5b942a60.57f7f4"],[],[]]},{"id":"d1457f46.9b847","type":"trigger","z":"6e472e1f.e49bf","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"min","reset":"1","bytopic":"all","name":"","x":1040,"y":2240,"wires":[["6ae3e5ef.1ef54c"]]},{"id":"6ae3e5ef.1ef54c","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"feed_pump_timer1","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":2240,"wires":[["5fb7a0ee.7cdea"]]},{"id":"83647089.596a6","type":"comment","z":"6e472e1f.e49bf","name":"","info":"moves default setpoints in","x":120,"y":600,"wires":[]},{"id":"a4565793.3a3348","type":"link out","z":"6e472e1f.e49bf","name":"","links":["33bbe46.d50891c"],"x":2035,"y":2220,"wires":[]},{"id":"f294a959.73d5f8","type":"switch","z":"6e472e1f.e49bf","name":"0/1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1650,"y":2220,"wires":[["c2bd206d.cb123"],["6ef14a1.54934b4"]]},{"id":"6ef14a1.54934b4","type":"change","z":"6e472e1f.e49bf","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1790,"y":2200,"wires":[["6d8c2154.4f62e"]]},{"id":"c2bd206d.cb123","type":"change","z":"6e472e1f.e49bf","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1790,"y":2260,"wires":[["6d8c2154.4f62e"]]},{"id":"6d8c2154.4f62e","type":"rbe","z":"6e472e1f.e49bf","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1930,"y":2220,"wires":[["a4565793.3a3348"]]},{"id":"33bbe46.d50891c","type":"link in","z":"6e472e1f.e49bf","name":"","links":["a4565793.3a3348"],"x":2115,"y":2220,"wires":[["605b165f.15e9b8","831d17c1.77ffc8","30e2b9a8.18b0b6"]]},{"id":"605b165f.15e9b8","type":"rpi-gpio out","z":"6e472e1f.e49bf","name":"Feed Pump Relay (5) - Pin 15 - GPIO22","pin":"15","set":true,"level":"0","freq":"","out":"out","x":2340,"y":2180,"wires":[]},{"id":"831d17c1.77ffc8","type":"debug","z":"6e472e1f.e49bf","name":"Feed pump debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2270,"y":2300,"wires":[]},{"id":"30e2b9a8.18b0b6","type":"function","z":"6e472e1f.e49bf","name":"LED","func":"msg.color = (msg.payload === \"1\")?\"lime\":\"red\";\nreturn msg;","outputs":1,"noerr":0,"x":2230,"y":2240,"wires":[["89148276.4dd74"]]},{"id":"89148276.4dd74","type":"ui_text","z":"6e472e1f.e49bf","group":"875b2792.d32768","order":1,"width":"3","height":"1","name":"","label":"Feed Pump LED","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-left","x":2450,"y":2240,"wires":[]},{"id":"94d12f1e.0215c","type":"trigger","z":"6e472e1f.e49bf","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"1","bytopic":"all","name":"","x":1660,"y":2300,"wires":[["1f7d9154.1e321f"]]},{"id":"6450e9fc.487538","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"feed_pump_timer1","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2620,"y":360,"wires":[[]]},{"id":"bbac4570.48ad08","type":"ui_text_input","z":"6e472e1f.e49bf","name":"Feed #1 Duration","label":"Feed #1 On Time (s)","tooltip":"","group":"875b2792.d32768","order":7,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":2390,"y":360,"wires":[["6450e9fc.487538"]]},{"id":"9e8d1283.4516a","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"timer 140","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":2200,"y":360,"wires":[["bbac4570.48ad08"]]},{"id":"fffea97f.2d0328","type":"ui_chart","z":"6e472e1f.e49bf","name":"","group":"7deea9a6.d96288","order":3,"width":"0","height":"0","label":"Temperature (째C)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"48","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":490,"y":900,"wires":[[]]},{"id":"6e1f85df.a89d3c","type":"smart-plug","z":"6e472e1f.e49bf","name":"plug3 - HS103(US)","device":"10.0.0.2","interval":10000,"eventInterval":1000,"payload":"getInfo","payloadType":"info","debug":false,"x":2330,"y":740,"wires":[[]]},{"id":"36a086d1.d4c24a","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"true","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2100,"y":740,"wires":[["6e1f85df.a89d3c"]]},{"id":"e4cb172a.a7ac88","type":"function","z":"6e472e1f.e49bf","name":"calc LVPD","func":"var temp = Number(msg.payload-1.2);\nvar ltemp = global.get(\"leaf_temp\");\nvar RH = Number(msg.humidity-8);\nvar asvp = 610.78*(Math.pow(2.71828, (temp/(238.3+temp)*17.2694)));\nvar lsvp = 610.78*(Math.pow(2.71828, (ltemp/(238.3+ltemp)*17.2694)));\nvar lvpd = (lsvp-(asvp*(RH/100)))/1000;\nlvpd = Number(lvpd.toFixed(2))\nmsg.payload = lvpd;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1180,"wires":[["7d16e7fc.abf8e8","89cd132a.ec5c2"]]},{"id":"7d16e7fc.abf8e8","type":"smooth","z":"6e472e1f.e49bf","name":"","property":"payload","action":"mean","count":"30","round":"2","mult":"single","reduce":false,"x":740,"y":1180,"wires":[["daa94448.391548"]]},{"id":"daa94448.391548","type":"ui_chart","z":"6e472e1f.e49bf","name":"","group":"9808fb7a.a5a668","order":2,"width":0,"height":0,"label":"LVPD (kPa)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"48","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":910,"y":1180,"wires":[[]]},{"id":"c349335e.77294","type":"ui_numeric","z":"6e472e1f.e49bf","name":"","label":"Leaf Temp","tooltip":"Leaf Temp Manual Entry","group":"9808fb7a.a5a668","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}&degC","min":0,"max":"100","step":"0.1","x":310,"y":540,"wires":[["885d1d73.ff11e"]]},{"id":"885d1d73.ff11e","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"leaf_temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":540,"wires":[[]]},{"id":"b678c7fb.232028","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"75","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":540,"wires":[["c349335e.77294"]]},{"id":"ebe65b76.e3f208","type":"bigtimer","z":"6e472e1f.e49bf","outtopic":"","outpayload1":"0","outpayload2":"1","name":"Big Timer 4","comment":"","lat":"53.546","lon":"113.494","starttime":"0","endtime":"0","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"0","outtext2":"1","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":850,"y":2320,"wires":[["c115c50b.9e7c48"],[],[]]},{"id":"c115c50b.9e7c48","type":"trigger","z":"6e472e1f.e49bf","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"min","reset":"1","bytopic":"all","name":"","x":1040,"y":2320,"wires":[["ff6fdbab.393158"]]},{"id":"ff6fdbab.393158","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"feed_pump_timer2","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":2320,"wires":[["5fb7a0ee.7cdea"]]},{"id":"caf98be9.3c1b08","type":"bigtimer","z":"6e472e1f.e49bf","outtopic":"","outpayload1":"0","outpayload2":"1","name":"Big Timer 5","comment":"","lat":"53.546","lon":"113.494","starttime":"0","endtime":"0","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"0","outtext2":"1","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":850,"y":2400,"wires":[["c80c8ffb.6d7df"],[],[]]},{"id":"c80c8ffb.6d7df","type":"trigger","z":"6e472e1f.e49bf","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"min","reset":"1","bytopic":"all","name":"","x":1040,"y":2400,"wires":[["83e8cd02.b7a7e"]]},{"id":"83e8cd02.b7a7e","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"feed_pump_timer3","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":2400,"wires":[["5fb7a0ee.7cdea"]]},{"id":"a6ddc7cf.77b888","type":"trigger","z":"6e472e1f.e49bf","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"1","bytopic":"all","name":"","x":1660,"y":2380,"wires":[["ebe65b76.e3f208"]]},{"id":"5b942a60.57f7f4","type":"trigger","z":"6e472e1f.e49bf","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"1","bytopic":"all","name":"","x":1660,"y":2460,"wires":[["caf98be9.3c1b08"]]},{"id":"83c3f474.ddf4d8","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"feed_pump_timer2","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2620,"y":420,"wires":[[]]},{"id":"a127c678.ab94f8","type":"ui_text_input","z":"6e472e1f.e49bf","name":"Feed #2 Duration","label":"Feed #2 On Time (s)","tooltip":"","group":"875b2792.d32768","order":8,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":2390,"y":420,"wires":[["83c3f474.ddf4d8"]]},{"id":"27b08c0b.81ae24","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"timer 60","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":2200,"y":420,"wires":[["a127c678.ab94f8"]]},{"id":"53e765ab.8cf1cc","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"feed_pump_timer3","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2620,"y":480,"wires":[[]]},{"id":"e93fdb3a.e6d168","type":"ui_text_input","z":"6e472e1f.e49bf","name":"Feed #3 Duration","label":"Feed #3 On Time (s)","tooltip":"","group":"875b2792.d32768","order":9,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":2390,"y":480,"wires":[["53e765ab.8cf1cc"]]},{"id":"345b0d1d.d382a2","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"timer 60","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":2200,"y":480,"wires":[["e93fdb3a.e6d168"]]},{"id":"ea7d8d9c.36036","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"feed_on1","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":2200,"wires":[[]]},{"id":"4ba97bb0.038bb4","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"feed_on2","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":2280,"wires":[[]]},{"id":"75e021a8.f32ea","type":"change","z":"6e472e1f.e49bf","name":"","rules":[{"t":"set","p":"feed_on3","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":2360,"wires":[[]]},{"id":"be198969.1e4d78","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"07:00","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":2200,"wires":[["b747b01d.04273"]]},{"id":"16d5290d.a21667","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"12:00","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":2280,"wires":[["efddc446.78c0f8"]]},{"id":"1159112a.b4adbf","type":"inject","z":"6e472e1f.e49bf","name":"","topic":"","payload":"15:00","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":2360,"wires":[["81c2d3b3.2f546"]]},{"id":"b747b01d.04273","type":"ui_text_input","z":"6e472e1f.e49bf","name":"Feed #1 On Time","label":"Feed #1 Time HH:MM (24h format)","tooltip":"","group":"875b2792.d32768","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":370,"y":2240,"wires":[["a7f298be.e52708","ea7d8d9c.36036"]]},{"id":"efddc446.78c0f8","type":"ui_text_input","z":"6e472e1f.e49bf","name":"Feed #2 On Time","label":"Feed #2 Time HH:MM (24h format)","tooltip":"","group":"875b2792.d32768","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":370,"y":2320,"wires":[["c58c6026.4f0ee","4ba97bb0.038bb4"]]},{"id":"81c2d3b3.2f546","type":"ui_text_input","z":"6e472e1f.e49bf","name":"Feed #3 On Time","label":"Feed #3 Time HH:MM (24h format)","tooltip":"","group":"875b2792.d32768","order":6,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":370,"y":2400,"wires":[["eb8cfc0c.7cf4e","75e021a8.f32ea"]]},{"id":"2fc08196.48d71e","type":"join","z":"6e472e1f.e49bf","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":" ","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":710,"y":2240,"wires":[["1f7d9154.1e321f"]]},{"id":"7b2344.43aadcbc","type":"join","z":"6e472e1f.e49bf","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":" ","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":710,"y":2320,"wires":[["ebe65b76.e3f208"]]},{"id":"ce16e532.c3f698","type":"join","z":"6e472e1f.e49bf","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":" ","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":710,"y":2400,"wires":[["caf98be9.3c1b08"]]},{"id":"ab99bd7c.a37b4","type":"function","z":"6e472e1f.e49bf","name":"temperature (째C)","func":"msg.payload = (msg.payload-1.2).toFixed(1);\nmsg.topic = \"inside_tempc\";\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":900,"wires":[["a99abcd1.873fb"]]},{"id":"a99abcd1.873fb","type":"smooth","z":"6e472e1f.e49bf","name":"","property":"payload","action":"mean","count":"15","round":"1","mult":"single","reduce":false,"x":320,"y":900,"wires":[["fffea97f.2d0328"]]},{"id":"55104359.ae8f1c","type":"ui_group","z":"","name":"Heater Setpoints","tab":"14f7bbb4.c9d2b4","order":4,"disp":true,"width":"7","collapse":true},{"id":"ae012c4c.e138b","type":"ui_group","z":"","name":"Dehumidifier Setpoints","tab":"14f7bbb4.c9d2b4","order":6,"disp":true,"width":"7","collapse":true},{"id":"9808fb7a.a5a668","type":"ui_group","z":"","name":"VPD","tab":"14f7bbb4.c9d2b4","order":3,"disp":false,"width":"7","collapse":false},{"id":"7deea9a6.d96288","type":"ui_group","z":"","name":"Temperature Monitoring","tab":"14f7bbb4.c9d2b4","order":2,"disp":false,"width":"7","collapse":false},{"id":"89978d32.271a5","type":"ui_group","z":"","name":"Humidity Monitoring","tab":"14f7bbb4.c9d2b4","order":1,"disp":false,"width":"7","collapse":false},{"id":"218993f3.dd413c","type":"ui_group","z":"","name":"Exhaust Setpoints","tab":"14f7bbb4.c9d2b4","order":8,"disp":true,"width":"7","collapse":true},{"id":"b806f09.05ae81","type":"ui_group","z":"","name":"Humidifier Setpoints","tab":"14f7bbb4.c9d2b4","order":7,"disp":true,"width":"7","collapse":true},{"id":"7999bcbc.c400c4","type":"ui_group","z":"","name":"Lighting","tab":"14f7bbb4.c9d2b4","order":8,"disp":true,"width":"7","collapse":true},{"id":"875b2792.d32768","type":"ui_group","z":"","name":"Fertigation","tab":"14f7bbb4.c9d2b4","disp":true,"width":"7","collapse":true},{"id":"14f7bbb4.c9d2b4","type":"ui_tab","z":"","name":"GardenBro","icon":"dashboard","disabled":false,"hidden":false}]
